# Import Libraries

In [1]:
# import libraries
import sklearn
import warnings
import matplotlib
%matplotlib inline
import numpy as np
import pandas as pd
from scipy import stats
from sklearn.svm import SVR
import matplotlib.pyplot as plt
from xgboost import XGBRegressor
from sklearn import preprocessing
from IPython import InteractiveShell
from sklearn.metrics import mean_squared_error
from sklearn.tree import DecisionTreeRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score
from mlxtend.classifier import StackingCVClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RandomizedSearchCV

In [2]:
# configurations for pretty display
InteractiveShell.ast_node_interactivity="all"
pd.set_option('max_colwidth',-1)
pd.set_option('max_columns',None)
warnings.simplefilter(action='ignore',category=FutureWarning)

# Load Data

In [3]:
# load data
df=pd.read_csv('Data/train.csv')
df.head()
len(df)

,id,account_type,gender,age,region_code,cc_cons_apr,dc_cons_apr,cc_cons_may,dc_cons_may,cc_cons_jun,dc_cons_jun,cc_count_apr,cc_count_may,cc_count_jun,dc_count_apr,dc_count_may,dc_count_jun,card_lim,personal_loan_active,vehicle_loan_active,personal_loan_closed,vehicle_loan_closed,investment_1,investment_2,investment_3,investment_4,debit_amount_apr,credit_amount_apr,debit_count_apr,credit_count_apr,max_credit_amount_apr,debit_amount_may,credit_amount_may,credit_count_may,debit_count_may,max_credit_amount_may,debit_amount_jun,credit_amount_jun,credit_count_jun,debit_count_jun,max_credit_amount_jun,loan_enq,emi_active,cc_cons
0,23334,saving,M,63,305,7695.00,NaN,479.00,NaN,622.0,NaN,2.0,1.0,3.0,NaN,NaN,NaN,150000.0,NaN,NaN,NaN,NaN,NaN,118845.2,50000.0,NaN,51205.47,50259.0,3.0,1.0,50000.0,24740.22,114252.0,3.0,2.0,45000.0,20215.85,1279.37,7.0,3.0,470.0,NaN,0.00,435
1,20329,current,M,33,326,52702.00,988.72,29873.00,NaN,1087.0,2806.24,11.0,14.0,11.0,1.0,NaN,6.0,176000.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,159050.76,169812.0,20.0,9.0,70000.0,103102.85,174606.0,6.0,10.0,150000.0,122037.66,55390.00,8.0,19.0,27000.0,NaN,4963.33,1921
2,17679,current,M,44,264,10800.49,3215.52,21659.64,1607.0,1168.0,355.00,6.0,9.0,6.0,3.0,2.0,14.0,65000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51484.55,38942.0,16.0,4.0,11700.0,15283.00,23051.0,2.0,7.0,13800.0,46827.00,29297.91,6.0,19.0,20800.0,NaN,0.00,1970
3,16428,saving,M,44,233,20936.00,NaN,2094.00,NaN,11778.5,NaN,9.0,6.0,6.0,NaN,NaN,NaN,600000.0,NaN,NaN,NaN,NaN,NaN,132442.0,NaN,NaN,1981.07,2294.0,2.0,1.0,2000.0,19361.24,19529.0,1.0,1.0,19300.0,5426.55,7544.00,3.0,1.0,5300.0,NaN,1238.18,21579
4,18721,saving,F,35,324,1183.83,NaN,3656.29,NaN,945.0,NaN,2.0,7.0,9.0,NaN,NaN,NaN,100000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6462.00,10271.0,6.0,1.0,10000.0,7461.00,3194.0,2.0,3.0,3000.0,26178.05,53483.00,4.0,4.0,45000.0,NaN,0.00,1814

32820

In [4]:
# drop id column
df.drop(columns=['id'],axis=1,inplace=True)

# Treat Missing Values

In [5]:
# check percentage of missing values
round(df.isnull().mean(),3)*100

account_type             0.0
gender                   0.0
age                      0.0
region_code              0.0
cc_cons_apr              0.0
dc_cons_apr              58.0
cc_cons_may              0.0
dc_cons_may              52.8
cc_cons_jun              0.0
dc_cons_jun              64.9
cc_count_apr             7.3
cc_count_may             3.5
cc_count_jun             4.8
dc_count_apr             58.0
dc_count_may             52.8
dc_count_jun             47.2
card_lim                 0.0
personal_loan_active     91.6
vehicle_loan_active      97.4
personal_loan_closed     91.2
vehicle_loan_closed      95.0
investment_1             95.7
investment_2             92.9
investment_3             95.9
investment_4             98.8
debit_amount_apr         5.8
credit_amount_apr        10.1
debit_count_apr          5.4
credit_count_apr         5.4
max_credit_amount_apr    10.1
debit_amount_may         7.0
credit_amount_may        10.4
credit_count_may         6.3
debit_count_may          6.3
max_credit_amount_may    10.4
debit_amount_jun         6.7
credit_amount_jun        4.7
credit_count_jun         4.7
debit_count_jun          4.7
max_credit_amount_jun    4.7
loan_enq                 98.1
emi_active               0.0
cc_cons                  0.0
dtype: float64

In [6]:
# treat missing values
df.personal_loan_active.fillna(0,inplace=True)
df.vehicle_loan_active.fillna(0,inplace=True)
df.personal_loan_closed.fillna(0,inplace=True)
df.vehicle_loan_closed.fillna(0,inplace=True)
df.dc_count_apr.fillna(0,inplace=True)
df.dc_count_may.fillna(0,inplace=True)
df.dc_count_jun.fillna(0,inplace=True)
df.loc[df.dc_count_apr==0,'dc_cons_apr']=0
df.loc[df.dc_count_may==0,'dc_cons_may']=0
df.loc[df.dc_count_jun==0,'dc_cons_jun']=0
df.cc_count_apr.fillna(0,inplace=True)
df.cc_count_may.fillna(0,inplace=True)
df.cc_count_jun.fillna(0,inplace=True)
df.loc[df.cc_count_apr==0,'cc_cons_apr']=0
df.loc[df.cc_count_may==0,'cc_cons_may']=0
df.loc[df.cc_count_jun==0,'cc_cons_jun']=0
df.debit_count_apr.fillna(0,inplace=True)
df.debit_count_may.fillna(0,inplace=True)
df.debit_count_jun.fillna(0,inplace=True)
df.loc[df.debit_count_apr==0,'debit_amount_apr']=0
df.loc[df.debit_count_may==0,'debit_amount_may']=0
df.loc[df.debit_count_jun==0,'debit_amount_jun']=0
df.credit_count_apr.fillna(0,inplace=True)
df.credit_count_may.fillna(0,inplace=True)
df.credit_count_jun.fillna(0,inplace=True)
df.loc[df.credit_count_apr==0,'credit_amount_apr']=0
df.loc[df.credit_count_may==0,'credit_amount_may']=0
df.loc[df.credit_count_jun==0,'credit_amount_jun']=0
df.loan_enq.fillna('N',inplace=True)

In [7]:
# drop investment_1,investment_2,investment_3,investment_4 as they have 
# very high number of null values to be useful
df.drop(columns=['investment_1','investment_2','investment_3','investment_4'],axis=1,inplace=True)

In [8]:
# cross check missing values again
round(df.isnull().mean(),3)*100

account_type             0.0
gender                   0.0
age                      0.0
region_code              0.0
cc_cons_apr              0.0
dc_cons_apr              0.0
cc_cons_may              0.0
dc_cons_may              0.0
cc_cons_jun              0.0
dc_cons_jun              17.7
cc_count_apr             0.0
cc_count_may             0.0
cc_count_jun             0.0
dc_count_apr             0.0
dc_count_may             0.0
dc_count_jun             0.0
card_lim                 0.0
personal_loan_active     0.0
vehicle_loan_active      0.0
personal_loan_closed     0.0
vehicle_loan_closed      0.0
debit_amount_apr         0.0
credit_amount_apr        0.0
debit_count_apr          0.0
credit_count_apr         0.0
max_credit_amount_apr    10.1
debit_amount_may         0.0
credit_amount_may        0.0
credit_count_may         0.0
debit_count_may          0.0
max_credit_amount_may    10.4
debit_amount_jun         0.0
credit_amount_jun        0.0
credit_count_jun         0.0
debit_count_jun          0.0
max_credit_amount_jun    4.7
loan_enq                 0.0
emi_active               0.0
cc_cons                  0.0
dtype: float64

In [9]:
# replace less than 17% missing values in the remaining variables with mean
df.fillna(df.mean(),inplace=True)

In [10]:
# cross check missing values
round(df.isnull().mean(),3)*100

account_type             0.0
gender                   0.0
age                      0.0
region_code              0.0
cc_cons_apr              0.0
dc_cons_apr              0.0
cc_cons_may              0.0
dc_cons_may              0.0
cc_cons_jun              0.0
dc_cons_jun              0.0
cc_count_apr             0.0
cc_count_may             0.0
cc_count_jun             0.0
dc_count_apr             0.0
dc_count_may             0.0
dc_count_jun             0.0
card_lim                 0.0
personal_loan_active     0.0
vehicle_loan_active      0.0
personal_loan_closed     0.0
vehicle_loan_closed      0.0
debit_amount_apr         0.0
credit_amount_apr        0.0
debit_count_apr          0.0
credit_count_apr         0.0
max_credit_amount_apr    0.0
debit_amount_may         0.0
credit_amount_may        0.0
credit_count_may         0.0
debit_count_may          0.0
max_credit_amount_may    0.0
debit_amount_jun         0.0
credit_amount_jun        0.0
credit_count_jun         0.0
debit_count_jun          0.0
max_credit_amount_jun    0.0
loan_enq                 0.0
emi_active               0.0
cc_cons                  0.0
dtype: float64

In [11]:
# change the datatypes of the columns accordingly for generating dummies
categorical_columns=['account_type','gender','region_code','personal_loan_active',
                     'vehicle_loan_active','personal_loan_closed','vehicle_loan_closed','loan_enq']
for c in categorical_columns:
    df[c]=df[c].astype('category');

# Feature Engineering

In [12]:
# split df into x and y for train_test_split
df_X=df.drop(columns=['cc_cons','region_code'])
df_X.head()
df_Y=df['cc_cons']
df_Y.head()

,account_type,gender,age,cc_cons_apr,dc_cons_apr,cc_cons_may,dc_cons_may,cc_cons_jun,dc_cons_jun,cc_count_apr,cc_count_may,cc_count_jun,dc_count_apr,dc_count_may,dc_count_jun,card_lim,personal_loan_active,vehicle_loan_active,personal_loan_closed,vehicle_loan_closed,debit_amount_apr,credit_amount_apr,debit_count_apr,credit_count_apr,max_credit_amount_apr,debit_amount_may,credit_amount_may,credit_count_may,debit_count_may,max_credit_amount_may,debit_amount_jun,credit_amount_jun,credit_count_jun,debit_count_jun,max_credit_amount_jun,loan_enq,emi_active
0,saving,M,63,7695.00,0.00,479.00,0.0,622.0,0.00,2.0,1.0,3.0,0.0,0.0,0.0,150000.0,0.0,0.0,0.0,0.0,51205.47,50259.0,3.0,1.0,50000.0,24740.22,114252.0,3.0,2.0,45000.0,20215.85,1279.37,7.0,3.0,470.0,N,0.00
1,current,M,33,52702.00,988.72,29873.00,0.0,1087.0,2806.24,11.0,14.0,11.0,1.0,0.0,6.0,176000.0,0.0,0.0,1.0,0.0,159050.76,169812.0,20.0,9.0,70000.0,103102.85,174606.0,6.0,10.0,150000.0,122037.66,55390.00,8.0,19.0,27000.0,N,4963.33
2,current,M,44,10800.49,3215.52,21659.64,1607.0,1168.0,355.00,6.0,9.0,6.0,3.0,2.0,14.0,65000.0,0.0,0.0,0.0,0.0,51484.55,38942.0,16.0,4.0,11700.0,15283.00,23051.0,2.0,7.0,13800.0,46827.00,29297.91,6.0,19.0,20800.0,N,0.00
3,saving,M,44,20936.00,0.00,2094.00,0.0,11778.5,0.00,9.0,6.0,6.0,0.0,0.0,0.0,600000.0,0.0,0.0,0.0,0.0,1981.07,2294.0,2.0,1.0,2000.0,19361.24,19529.0,1.0,1.0,19300.0,5426.55,7544.00,3.0,1.0,5300.0,N,1238.18
4,saving,F,35,1183.83,0.00,3656.29,0.0,945.0,0.00,2.0,7.0,9.0,0.0,0.0,0.0,100000.0,0.0,0.0,0.0,0.0,6462.00,10271.0,6.0,1.0,10000.0,7461.00,3194.0,2.0,3.0,3000.0,26178.05,53483.00,4.0,4.0,45000.0,N,0.00

0    435
1    1921
2    1970
3    21579
4    1814
Name: cc_cons, dtype: int64

In [13]:
# create calculated fields
# Total dc and cc cons for 3 months
df_X['cc_cons_sum']= df_X['cc_cons_apr'] + df_X['cc_cons_may'] + df_X['cc_cons_jun']
df_X['dc_cons_sum']= df_X['dc_cons_apr']+ df_X['dc_cons_may'] + df_X['dc_cons_jun']
# Total dc and cc count for 3 months
df_X['cc_count_sum'] = df_X['cc_count_apr'] + df_X['cc_count_may'] + df_X['cc_count_jun']
df_X['dc_count_sum'] = df_X['dc_count_apr'] + df_X['dc_count_may'] + df_X['dc_count_jun']
# Total dc and cc cons average for 3 months
df_X['cc_cons_avg'] = 0
df_X.loc[df_X.cc_count_sum != 0,'cc_cons_avg'] = df_X.loc[df_X.cc_count_sum != 0,'cc_cons_sum']/df_X.loc[df_X.cc_count_sum != 0,'cc_count_sum']
df_X['dc_cons_avg'] = 0
df_X.loc[df_X.dc_count_sum != 0,'dc_cons_avg'] = df_X.loc[df_X.dc_count_sum != 0,'dc_cons_sum']/df_X.loc[df_X.dc_count_sum != 0,'dc_count_sum']
# Average dc cons for each month
df_X['dc_cons_apr_avg']= 0
df_X.loc[df_X.dc_count_apr != 0,'dc_cons_apr_avg'] = df_X.loc[df_X.dc_count_apr != 0,'dc_cons_apr']/df_X.loc[df_X.dc_count_apr != 0,'dc_count_apr']
df_X['dc_cons_may_avg'] = 0
df_X.loc[df_X.dc_count_may != 0,'dc_cons_may_avg'] = df_X.loc[df_X.dc_count_may != 0,'dc_cons_may']/df_X.loc[df_X.dc_count_may != 0,'dc_count_may']
df_X['dc_cons_jun_avg']= 0
df_X.loc[df_X.dc_count_jun != 0,'dc_cons_jun_avg'] = df_X.loc[df_X.dc_count_jun != 0,'dc_cons_jun']/df_X.loc[df_X.dc_count_jun != 0,'dc_count_jun']
# Average cc cons for each month
df_X['cc_cons_apr_avg'] = 0
df_X.loc[df_X.cc_count_apr != 0,'cc_cons_apr_avg'] = df_X.loc[df_X.cc_count_apr != 0,'cc_cons_apr']/df_X.loc[df_X.cc_count_apr != 0,'cc_count_apr']
df_X['cc_cons_may_avg'] = 0
df_X.loc[df_X.cc_count_may != 0,'cc_cons_may_avg'] = df_X.loc[df_X.cc_count_may != 0,'cc_cons_may']/df_X.loc[df_X.cc_count_may != 0,'cc_count_may']
df_X['cc_cons_jun_avg'] = 0
df_X.loc[df_X.cc_count_jun != 0,'cc_cons_jun_avg'] = df_X.loc[df_X.cc_count_jun != 0,'cc_cons_jun']/df_X.loc[df_X.cc_count_jun != 0,'cc_count_jun']

In [14]:
# Total credit and debit amount for 3 months
df_X['credit_amount_sum'] = df_X.credit_amount_apr + df_X.credit_amount_may + df_X.credit_amount_jun
df_X['debit_amount_sum'] = df_X.debit_amount_apr + df_X.debit_amount_may + df_X.debit_amount_jun
# Total credit and debit count for 3 months
df_X['credit_count_sum'] = df_X.credit_count_apr + df_X.credit_count_may + df_X.credit_count_jun
df_X['debit_count_sum'] = df_X.debit_count_apr + df_X.debit_count_may + df_X.debit_count_jun
# Total credit and debit amount average for 3 months
df_X['credit_amount_avg'] = 0
df_X.loc[df_X.credit_count_sum != 0,'credit_amount_avg'] = df_X.loc[df_X.credit_count_sum != 0,'credit_amount_sum']/df_X.loc[df_X.credit_count_sum != 0,'credit_count_sum']
df_X['debit_amount_avg'] = 0
df_X.loc[df_X.debit_count_sum != 0,'debit_amount_avg'] = df_X.loc[df_X.debit_count_sum != 0,'debit_amount_sum']/df_X.loc[df_X.debit_count_sum != 0,'debit_count_sum']
# average debit amount for each month
df_X['debit_amount_apr_avg']= 0
df_X.loc[df_X.debit_count_apr != 0,'debit_amount_apr_avg'] = df_X.loc[df_X.debit_count_apr != 0,'debit_amount_apr']/df_X.loc[df_X.debit_count_apr != 0,'debit_count_apr']
df_X['debit_amount_may_avg'] = 0
df_X.loc[df_X.debit_count_may != 0,'debit_amount_may_avg'] = df_X.loc[df_X.debit_count_may != 0,'debit_amount_may']/df_X.loc[df_X.debit_count_may != 0,'debit_count_may']
df_X['debit_amount_jun_avg'] = 0
df_X.loc[df_X.debit_count_jun != 0,'debit_amount_jun_avg'] = df_X.loc[df_X.debit_count_jun != 0,'debit_amount_jun']/df_X.loc[df_X.debit_count_jun != 0,'debit_count_jun']
# average credit amount for each month
df_X['credit_amount_apr_avg'] = 0
df_X.loc[df_X.credit_count_apr != 0,'credit_amount_apr_avg'] = df_X.loc[df_X.credit_count_apr != 0,'credit_amount_apr']/df_X.loc[df_X.credit_count_apr != 0,'credit_count_apr']
df_X['credit_amount_may_avg'] = 0
df_X.loc[df_X.credit_count_may != 0,'credit_amount_may_avg'] = df_X.loc[df_X.credit_count_may != 0,'credit_amount_may']/df_X.loc[df_X.credit_count_may != 0,'credit_count_may']
df_X['credit_amount_jun_avg'] = 0
df_X.loc[df_X.credit_count_jun != 0,'credit_amount_jun_avg'] = df_X.loc[df_X.credit_count_jun != 0,'credit_amount_jun']/df_X.loc[df_X.credit_count_jun != 0,'credit_count_jun']

In [15]:
# percentage credit amount per month
df_X['perc_credit_amount_apr'] = 0
df_X.loc[df_X.max_credit_amount_apr!= 0,'perc_credit_amount_apr'] = df_X.loc[df_X.max_credit_amount_apr!= 0,'credit_amount_apr']/df_X.loc[df_X.max_credit_amount_apr!= 0,'max_credit_amount_apr']
df_X['perc_credit_amount_may'] = 0
df_X.loc[df_X.max_credit_amount_may!= 0,'perc_credit_amount_may'] = df_X.loc[df_X.max_credit_amount_may!= 0,'credit_amount_may']/df_X.loc[df_X.max_credit_amount_may!= 0,'max_credit_amount_may']
df_X['perc_credit_amount_jun'] = 0
df_X.loc[df_X.max_credit_amount_jun!= 0,'perc_credit_amount_jun'] = df_X.loc[df_X.max_credit_amount_jun!= 0,'credit_amount_jun']/df_X.loc[df_X.max_credit_amount_jun!= 0,'max_credit_amount_jun']

In [16]:
# proportion of debit and credit consumptions per month
df_X['cc_cons_apr_prop'] = 0
df_X.loc[df_X.cc_cons_sum!= 0,'cc_cons_apr_prop'] = df_X.loc[df_X.cc_cons_sum!= 0,'cc_cons_apr']/df_X.loc[df_X.cc_cons_sum != 0,'cc_cons_sum']
df_X['cc_cons_may_prop'] = 0
df_X.loc[df_X.cc_cons_sum != 0,'cc_cons_may_prop'] = df_X.loc[df_X.cc_cons_sum != 0,'cc_cons_may']/df_X.loc[df_X.cc_cons_sum != 0,'cc_cons_sum']
df_X['cc_cons_jun_prop'] = 0
df_X.loc[df_X.cc_cons_sum != 0,'cc_cons_jun_prop'] = df_X.loc[df_X.cc_cons_sum != 0,'cc_cons_jun']/df_X.loc[df_X.cc_cons_sum != 0,'cc_cons_sum']
df_X['dc_cons_apr_prop'] = 0
df_X.loc[df_X.dc_cons_sum != 0,'dc_cons_apr_prop'] = df_X.loc[df_X.dc_cons_sum != 0,'dc_cons_apr']/df_X.loc[df_X.dc_cons_sum != 0,'dc_cons_sum']
df_X['dc_cons_may_prop'] = 0
df_X.loc[df_X.dc_cons_sum != 0,'dc_cons_may_prop'] = df_X.loc[df_X.dc_cons_sum != 0,'dc_cons_may']/df_X.loc[df_X.dc_cons_sum != 0,'dc_cons_sum']
df_X['dc_cons_jun_prop'] = 0
df_X.loc[df_X.dc_cons_sum != 0,'dc_cons_jun_prop'] = df_X.loc[df_X.dc_cons_sum != 0,'dc_cons_jun']/df_X.loc[df_X.dc_cons_sum != 0,'dc_cons_sum']

In [17]:
# proportion of debit and credit amounts per month
df_X['credit_amount_apr_prop'] = 0
df_X.loc[df_X.credit_amount_sum != 0,'credit_amount_apr_prop'] = df_X.loc[df_X.credit_amount_sum != 0,'credit_amount_apr']/df_X.loc[df_X.credit_amount_sum != 0,'credit_amount_sum']
df_X['credit_amount_may_prop'] = 0
df_X.loc[df_X.credit_amount_sum != 0,'credit_amount_may_prop'] = df_X.loc[df_X.credit_amount_sum != 0,'credit_amount_may']/df_X.loc[df_X.credit_amount_sum != 0,'credit_amount_sum']
df_X['credit_amount_jun_prop'] = 0
df_X.loc[df_X.credit_amount_sum != 0,'credit_amount_jun_prop'] = df_X.loc[df_X.credit_amount_sum != 0,'credit_amount_jun']/df_X.loc[df_X.credit_amount_sum != 0,'credit_amount_sum']
df_X['debit_amount_apr_prop'] = 0
df_X.loc[df_X.debit_amount_sum != 0,'debit_amount_apr_prop'] = df_X.loc[df_X.debit_amount_sum != 0,'debit_amount_apr']/df_X.loc[df_X.debit_amount_sum != 0,'debit_amount_sum']
df_X['debit_amount_may_prop'] = 0
df_X.loc[df_X.debit_amount_sum != 0,'debit_amount_may_prop'] = df_X.loc[df_X.debit_amount_sum != 0,'debit_amount_may']/df_X.loc[df_X.debit_amount_sum != 0,'debit_amount_sum']
df_X['debit_amount_jun_prop'] = 0
df_X.loc[df_X.debit_amount_sum != 0,'debit_amount_jun_prop'] = df_X.loc[df_X.debit_amount_sum != 0,'debit_amount_jun']/df_X.loc[df_X.debit_amount_sum != 0,'debit_amount_sum']

In [18]:
# debit by credit cons and amount ratios
df_X['d_by_c_cons_ratio_apr'] = 0
df_X.loc[df_X.cc_cons_apr != 0,'d_by_c_cons_ratio_apr'] = df_X.loc[df_X.cc_cons_apr != 0,'dc_cons_apr']/df_X.loc[df_X.cc_cons_apr != 0,'cc_cons_apr']
df_X['d_by_c_cons_ratio_may'] = 0
df_X.loc[df_X.cc_cons_may != 0,'d_by_c_cons_ratio_may'] = df_X.loc[df_X.cc_cons_may != 0,'dc_cons_may']/df_X.loc[df_X.cc_cons_may != 0,'cc_cons_may']
df_X['d_by_c_cons_ratio_jun'] = 0
df_X.loc[df_X.cc_cons_jun != 0,'d_by_c_cons_ratio_jun'] = df_X.loc[df_X.cc_cons_jun != 0,'dc_cons_jun']/df_X.loc[df_X.cc_cons_jun != 0,'cc_cons_jun']
df_X['d_by_c_amount_ratio_apr'] = 0
df_X.loc[df_X.credit_amount_apr != 0,'d_by_c_amount_ratio_apr'] = df_X.loc[df_X.credit_amount_apr != 0,'debit_amount_apr']/df_X.loc[df_X.credit_amount_apr != 0,'credit_amount_apr']
df_X['d_by_c_amount_ratio_may'] = 0
df_X.loc[df_X.credit_amount_may != 0,'d_by_c_amount_ratio_may'] = df_X.loc[df_X.credit_amount_may != 0,'debit_amount_may']/df_X.loc[df_X.credit_amount_may != 0,'credit_amount_may']
df_X['d_by_c_amount_ratio_jun'] = 0
df_X.loc[df_X.credit_amount_jun != 0,'d_by_c_amount_ratio_jun'] = df_X.loc[df_X.credit_amount_jun != 0,'debit_amount_jun']/df_X.loc[df_X.credit_amount_jun != 0,'credit_amount_jun']

In [19]:
# convert cc_cons to log to directly optimize RMSLE
df_Y=np.log(df_Y+1)

In [20]:
len(df_X.columns)
df_X.columns

82

Index(['account_type', 'gender', 'age', 'cc_cons_apr', 'dc_cons_apr',
       'cc_cons_may', 'dc_cons_may', 'cc_cons_jun', 'dc_cons_jun',
       'cc_count_apr', 'cc_count_may', 'cc_count_jun', 'dc_count_apr',
       'dc_count_may', 'dc_count_jun', 'card_lim', 'personal_loan_active',
       'vehicle_loan_active', 'personal_loan_closed', 'vehicle_loan_closed',
       'debit_amount_apr', 'credit_amount_apr', 'debit_count_apr',
       'credit_count_apr', 'max_credit_amount_apr', 'debit_amount_may',
       'credit_amount_may', 'credit_count_may', 'debit_count_may',
       'max_credit_amount_may', 'debit_amount_jun', 'credit_amount_jun',
       'credit_count_jun', 'debit_count_jun', 'max_credit_amount_jun',
       'loan_enq', 'emi_active', 'cc_cons_sum', 'dc_cons_sum', 'cc_count_sum',
       'dc_count_sum', 'cc_cons_avg', 'dc_cons_avg', 'dc_cons_apr_avg',
       'dc_cons_may_avg', 'dc_cons_jun_avg', 'cc_cons_apr_avg',
       'cc_cons_may_avg', 'cc_cons_jun_avg', 'credit_amount_sum',
       'debit_amount_sum', 'credit_count_sum', 'debit_count_sum',
       'credit_amount_avg', 'debit_amount_avg', 'debit_amount_apr_avg',
       'debit_amount_may_avg', 'debit_amount_jun_avg', 'credit_amount_apr_avg',
       'credit_amount_may_avg', 'credit_amount_jun_avg',
       'perc_credit_amount_apr', 'perc_credit_amount_may',
       'perc_credit_amount_jun', 'cc_cons_apr_prop', 'cc_cons_may_prop',
       'cc_cons_jun_prop', 'dc_cons_apr_prop', 'dc_cons_may_prop',
       'dc_cons_jun_prop', 'credit_amount_apr_prop', 'credit_amount_may_prop',
       'credit_amount_jun_prop', 'debit_amount_apr_prop',
       'debit_amount_may_prop', 'debit_amount_jun_prop',
       'd_by_c_cons_ratio_apr', 'd_by_c_cons_ratio_may',
       'd_by_c_cons_ratio_jun', 'd_by_c_amount_ratio_apr',
       'd_by_c_amount_ratio_may', 'd_by_c_amount_ratio_jun'],
      dtype='object')

# Train and Test Split

In [21]:
# generate dummy values
df_X=pd.get_dummies(df_X,drop_first=True)

In [22]:
X_train,X_test,Y_train,Y_test=train_test_split(df_X,df_Y,test_size=0.25,random_state=33)

# Modeling

## Linear Regression

In [23]:
# linear regression with scikit learn
lin_model=LinearRegression()
lin_model.fit(X_train,Y_train)
print('train RMSLE:',round(np.sqrt(mean_squared_error(Y_train,lin_model.predict(X_train)))*100,2))
print('test RMSLE:',round(np.sqrt(mean_squared_error(Y_test,lin_model.predict(X_test)))*100,2));

train RMSLE: 120.13
test RMSLE: 119.64

## Decision Trees

In [24]:
# hyper parameter tuning of decision tree with randomized search cv
dec_model=DecisionTreeRegressor(random_state=33)
param_grid=dict(max_depth=range(5,20),min_samples_split=range(50,200,10),min_samples_leaf=range(25,100,10),max_leaf_nodes=range(8,32,2),min_impurity_decrease=(0.3,1.0,0.1))
grid=RandomizedSearchCV(dec_model,param_grid,scoring='neg_mean_squared_error',n_jobs=4,cv=5,random_state=33)
grid.fit(X_train,Y_train);

In [25]:
# get best parameters
grid.best_params_

{'min_samples_split': 140,
 'min_samples_leaf': 45,
 'min_impurity_decrease': 0.1,
 'max_leaf_nodes': 20,
 'max_depth': 5}

In [26]:
# take the best model 
dec_model=grid.best_estimator_
print('train RMSLE:',round(np.sqrt(mean_squared_error(Y_train,dec_model.predict(X_train)))*100,2))
print('test RMSLE:',round(np.sqrt(mean_squared_error(Y_test,dec_model.predict(X_test)))*100,2));

train RMSLE: 125.44
test RMSLE: 123.74

## Neural Network

In [27]:
# hyper parameter tuning of neural networks with randomized search cv
neu_model=MLPRegressor(learning_rate_init=0.01,learning_rate='adaptive',activation='relu',random_state=33)
param_grid={'hidden_layer_sizes':[(100,100,100),(100,75,50,25)],'alpha':range(1,10,1)}
grid=RandomizedSearchCV(neu_model,param_grid,scoring='neg_mean_squared_error',cv=5,n_jobs=-1,random_state=33)
grid.fit(X_train,Y_train);

In [28]:
# get best parameters
print(grid.best_params_)

{'hidden_layer_sizes': (100, 75, 50, 25), 'alpha': 3}

In [29]:
# take the best model 
neu_model=grid.best_estimator_
print('train RMSLE:',round(np.sqrt(mean_squared_error(Y_train,neu_model.predict(X_train)))*100,2))
print('test RMSLE:',round(np.sqrt(mean_squared_error(Y_test,neu_model.predict(X_test)))*100,2));

train RMSLE: 466.74
test RMSLE: 464.22

## Random Forest

In [30]:
# hyper parameter tuning of random forest with randomized search cv
rf_model=RandomForestRegressor(random_state=33)
param_grid=dict(n_estimators=range(10,100,10),max_depth=range(3,20),min_samples_split=range(50,500,20),min_samples_leaf=range(25,75,10),max_leaf_nodes=range(8,32,2))
grid=RandomizedSearchCV(rf_model,param_grid,scoring='neg_mean_squared_error',n_jobs=-1,cv=5,random_state=33)
grid.fit(X_train,Y_train);

In [31]:
# get best score and parameters
grid.best_score_
print(grid.best_params_)

-1.4005300539796115

{'n_estimators': 70, 'min_samples_split': 70, 'min_samples_leaf': 25, 'max_leaf_nodes': 28, 'max_depth': 18}

In [32]:
# take the best model 
rf_model=grid.best_estimator_
print('train RMSLE:',round(np.sqrt(mean_squared_error(Y_train,rf_model.predict(X_train)))*100,2))
print('test RMSLE:',round(np.sqrt(mean_squared_error(Y_test,rf_model.predict(X_test)))*100,2));

train RMSLE: 116.79
test RMSLE: 116.91

## KNN

In [33]:
knn_model=KNeighborsRegressor(n_neighbors=5,weights='distance',algorithm='ball_tree',metric='minkowski',n_jobs=-1)
knn_model.fit(X_train,Y_train);

In [34]:
print('train RMSLE:',round(np.sqrt(mean_squared_error(Y_train,knn_model.predict(X_train)))*100,2))
print('test RMSLE:',round(np.sqrt(mean_squared_error(Y_test,knn_model.predict(X_test)))*100,2));

train RMSLE: 0.0
test RMSLE: 129.64

## XGBoost

In [35]:
# hyper parameter tuning of xgboost with randomized search cv
xgb_model=XGBRegressor(objective='reg:squarederror',n_jobs=-1)
param_grid={'max_depth':range(5,15,3),'learning_rate':np.arange(0.01,0.3,0.01),'n_estimators':range(100,200,10),'min_child_weight':range(1,15,2),'reg_lambda':range(0,5,1),'subsample':np.arange(60,110,10)/100,'colsample_bylevel':np.arange(60,110,10)/100,'colsample_bytree':np.arange(60,110,10)/100,'colsample_bynode':np.arange(60,110,10)/100,'scale_pos_weight':np.arange(1,15,1)}
grid=RandomizedSearchCV(xgb_model,param_grid,scoring='neg_mean_squared_error',cv=5,random_state=33)
grid.fit(X_train,Y_train);

In [36]:
# get best score and parameters
print(grid.best_params_)

{'subsample': 0.8, 'scale_pos_weight': 1, 'reg_lambda': 3, 'n_estimators': 110, 'min_child_weight': 9, 'max_depth': 5, 'learning_rate': 0.09999999999999999, 'colsample_bytree': 1.0, 'colsample_bynode': 0.6, 'colsample_bylevel': 0.8}

In [37]:
# take the best model 
xgb_model=grid.best_estimator_
print('train RMSLE:',round(np.sqrt(mean_squared_error(Y_train,xgb_model.predict(X_train)))*100,2))
print('test RMSLE:',round(np.sqrt(mean_squared_error(Y_test,xgb_model.predict(X_test)))*100,2))

train RMSLE: 107.46
test RMSLE: 115.27

## Train on Entire Data

In [42]:
# Random Forest
rf_model=RandomForestRegressor(random_state=33,n_estimators= 50, min_samples_split= 190, min_samples_leaf= 35, max_leaf_nodes= 26, max_depth= 14)
rf_model.fit(df_X,df_Y)
print('Overall RMSLE:',round(np.sqrt(mean_squared_error(df_Y,rf_model.predict(df_X)))*100,2));

Overall RMSLE: 117.14

In [43]:
xgb_model=XGBRegressor(objective='reg:squarederror',subsample= 0.8, scale_pos_weight= 1, reg_lambda= 3, n_estimators= 110, min_child_weight= 9, max_depth= 5, learning_rate= 0.1, colsample_bytree= 1.0,colsample_bynode=0.6,colsample_bylevel=0.8,n_jobs=-1)
xgb_model.fit(df_X,df_Y)
print('Overall RMSLE:',round(np.sqrt(mean_squared_error(df_Y,xgb_model.predict(df_X)))*100,2));

Overall RMSLE: 108.45

## Model Stacking

In [79]:
lin_model=LinearRegression()
sclf = StackingCVClassifier(classifiers=[rf_model,xgb_model],meta_classifier=lin_model,random_state=33)
print('3-fold cross validation:\n')
for clf, label in zip([rf_model,xgb_model,sclf],['Random Forest','XGBoost','StackingClassifier']):
    scores = np.sqrt(-1*cross_val_score(clf, df_X.values,df_Y.values,cv=5, scoring='neg_mean_squared_error'))*100
    print("Accuracy: %0.2f (+/- %0.2f) [%s]"%(scores.mean(), scores.std(),label))

3-fold cross validation:

Accuracy: 118.07 (+/- 0.98) [Random Forest]
Accuracy: 116.24 (+/- 0.74) [XGBoost]
Accuracy: 116.23 (+/- 0.82) [StackingClassifier]

In [80]:
sclf.fit(df_X,df_Y);

# Final Predictions

In [71]:
test=pd.read_csv('Data/test.csv')
len(test)
test.head()

14067

,id,account_type,gender,age,region_code,cc_cons_apr,dc_cons_apr,cc_cons_may,dc_cons_may,cc_cons_jun,dc_cons_jun,cc_count_apr,cc_count_may,cc_count_jun,dc_count_apr,dc_count_may,dc_count_jun,card_lim,personal_loan_active,vehicle_loan_active,personal_loan_closed,vehicle_loan_closed,investment_1,investment_2,investment_3,investment_4,debit_amount_apr,credit_amount_apr,debit_count_apr,credit_count_apr,max_credit_amount_apr,debit_amount_may,credit_amount_may,credit_count_may,debit_count_may,max_credit_amount_may,debit_amount_jun,credit_amount_jun,credit_count_jun,debit_count_jun,max_credit_amount_jun,loan_enq,emi_active
0,6975,saving,M,36,447,17942.70,1170.0,1656.00,NaN,4551.00,NaN,6.0,2.0,6.0,1.0,NaN,NaN,75000.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,10806.93,25279.0,7.0,2.0,20000.0,21530.34,15416.52,3.0,7.0,10000.0,17316.44,5154.0,2.0,8.0,5000.0,NaN,0.00
1,43223,current,M,31,233,44870.36,NaN,34177.00,NaN,25889.21,NaN,13.0,19.0,36.0,NaN,NaN,NaN,116000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00
2,45502,current,M,26,823,1073.00,2442.0,4141.00,390.0,6740.29,642.0,3.0,5.0,2.0,8.0,3.0,3.0,40000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,83205.22,105813.0,33.0,5.0,39000.0,90312.48,65227.00,4.0,22.0,26926.0,33981.00,37762.0,3.0,15.0,29352.0,NaN,2885.82
3,12368,current,M,39,878,33060.58,NaN,3797.12,NaN,291.00,NaN,16.0,12.0,15.0,NaN,NaN,NaN,86000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45342.25,59640.0,4.0,5.0,28753.0,84699.30,63393.00,4.0,8.0,57185.0,52927.00,89425.0,7.0,11.0,32696.0,NaN,0.00
4,40415,current,M,44,404,18236.90,NaN,30513.30,NaN,20395.28,NaN,42.0,38.0,20.0,NaN,NaN,NaN,250000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25493.95,25154.0,4.0,1.0,25000.0,39813.40,45120.00,1.0,5.0,45000.0,31656.69,34275.0,3.0,4.0,19000.0,NaN,3342.58

## Treat Missing Values

In [72]:
# treat missing values
test.personal_loan_active.fillna(0,inplace=True)
test.vehicle_loan_active.fillna(0,inplace=True)
test.personal_loan_closed.fillna(0,inplace=True)
test.vehicle_loan_closed.fillna(0,inplace=True)
test.dc_count_apr.fillna(0,inplace=True)
test.dc_count_may.fillna(0,inplace=True)
test.dc_count_jun.fillna(0,inplace=True)
test.loc[test.dc_count_apr==0,'dc_cons_apr']=0
test.loc[test.dc_count_may==0,'dc_cons_may']=0
test.loc[test.dc_count_jun==0,'dc_cons_jun']=0
test.cc_count_apr.fillna(0,inplace=True)
test.cc_count_may.fillna(0,inplace=True)
test.cc_count_jun.fillna(0,inplace=True)
test.loc[test.cc_count_apr==0,'cc_cons_apr']=0
test.loc[test.cc_count_may==0,'cc_cons_may']=0
test.loc[test.cc_count_jun==0,'cc_cons_jun']=0
test.debit_count_apr.fillna(0,inplace=True)
test.debit_count_may.fillna(0,inplace=True)
test.debit_count_jun.fillna(0,inplace=True)
test.loc[test.debit_count_apr==0,'debit_amount_apr']=0
test.loc[test.debit_count_may==0,'debit_amount_may']=0
test.loc[test.debit_count_jun==0,'debit_amount_jun']=0
test.credit_count_apr.fillna(0,inplace=True)
test.credit_count_may.fillna(0,inplace=True)
test.credit_count_jun.fillna(0,inplace=True)
test.loc[test.credit_count_apr==0,'credit_amount_apr']=0
test.loc[test.credit_count_may==0,'credit_amount_may']=0
test.loc[test.credit_count_jun==0,'credit_amount_jun']=0
test.loan_enq.fillna('N',inplace=True)
test.drop(columns=['investment_1','investment_2','investment_3','investment_4'],axis=1,inplace=True)
test.fillna(df.mean(),inplace=True)

In [73]:
# cross check missing values
test.isnull().sum()

id                       0
account_type             0
gender                   0
age                      0
region_code              0
cc_cons_apr              0
dc_cons_apr              0
cc_cons_may              0
dc_cons_may              0
cc_cons_jun              0
dc_cons_jun              0
cc_count_apr             0
cc_count_may             0
cc_count_jun             0
dc_count_apr             0
dc_count_may             0
dc_count_jun             0
card_lim                 0
personal_loan_active     0
vehicle_loan_active      0
personal_loan_closed     0
vehicle_loan_closed      0
debit_amount_apr         0
credit_amount_apr        0
debit_count_apr          0
credit_count_apr         0
max_credit_amount_apr    0
debit_amount_may         0
credit_amount_may        0
credit_count_may         0
debit_count_may          0
max_credit_amount_may    0
debit_amount_jun         0
credit_amount_jun        0
credit_count_jun         0
debit_count_jun          0
max_credit_amount_jun    0
loan_enq                 0
emi_active               0
dtype: int64

## Feature Engineering

In [74]:
# change the datatypes of the columns accordingly for generating dummies
categorical_columns=['account_type','gender','region_code','personal_loan_active',
                     'vehicle_loan_active','personal_loan_closed','vehicle_loan_closed','loan_enq']
for c in categorical_columns:
    test[c]=test[c].astype('category');

In [75]:
test=test.drop(columns=['region_code'])
# create calculated fields
# Total dc and cc cons for 3 months
test['cc_cons_sum']= test['cc_cons_apr'] + test['cc_cons_may'] + test['cc_cons_jun']
test['dc_cons_sum']= test['dc_cons_apr']+ test['dc_cons_may'] + test['dc_cons_jun']
# Total dc and cc count for 3 months
test['cc_count_sum'] = test['cc_count_apr'] + test['cc_count_may'] + test['cc_count_jun']
test['dc_count_sum'] = test['dc_count_apr'] + test['dc_count_may'] + test['dc_count_jun']
# Total dc and cc cons average for 3 months
test['cc_cons_avg'] = 0
test.loc[test.cc_count_sum != 0,'cc_cons_avg'] = test.loc[test.cc_count_sum != 0,'cc_cons_sum']/test.loc[test.cc_count_sum != 0,'cc_count_sum']
test['dc_cons_avg'] = 0
test.loc[test.dc_count_sum != 0,'dc_cons_avg'] = test.loc[test.dc_count_sum != 0,'dc_cons_sum']/test.loc[test.dc_count_sum != 0,'dc_count_sum']
# Average dc cons for each month
test['dc_cons_apr_avg']= 0
test.loc[test.dc_count_apr != 0,'dc_cons_apr_avg'] = test.loc[test.dc_count_apr != 0,'dc_cons_apr']/test.loc[test.dc_count_apr != 0,'dc_count_apr']
test['dc_cons_may_avg'] = 0
test.loc[test.dc_count_may != 0,'dc_cons_may_avg'] = test.loc[test.dc_count_may != 0,'dc_cons_may']/test.loc[test.dc_count_may != 0,'dc_count_may']
test['dc_cons_jun_avg']= 0
test.loc[test.dc_count_jun != 0,'dc_cons_jun_avg'] = test.loc[test.dc_count_jun != 0,'dc_cons_jun']/test.loc[test.dc_count_jun != 0,'dc_count_jun']
# Average cc cons for each month
test['cc_cons_apr_avg'] = 0
test.loc[test.cc_count_apr != 0,'cc_cons_apr_avg'] = test.loc[test.cc_count_apr != 0,'cc_cons_apr']/test.loc[test.cc_count_apr != 0,'cc_count_apr']
test['cc_cons_may_avg'] = 0
test.loc[test.cc_count_may != 0,'cc_cons_may_avg'] = test.loc[test.cc_count_may != 0,'cc_cons_may']/test.loc[test.cc_count_may != 0,'cc_count_may']
test['cc_cons_jun_avg'] = 0
test.loc[test.cc_count_jun != 0,'cc_cons_jun_avg'] = test.loc[test.cc_count_jun != 0,'cc_cons_jun']/test.loc[test.cc_count_jun != 0,'cc_count_jun']
# Total credit and debit amount for 3 months
test['credit_amount_sum'] = test.credit_amount_apr + test.credit_amount_may + test.credit_amount_jun
test['debit_amount_sum'] = test.debit_amount_apr + test.debit_amount_may + test.debit_amount_jun
# Total credit and debit count for 3 months
test['credit_count_sum'] = test.credit_count_apr + test.credit_count_may + test.credit_count_jun
test['debit_count_sum'] = test.debit_count_apr + test.debit_count_may + test.debit_count_jun
# Total credit and debit amount average for 3 months
test['credit_amount_avg'] = 0
test.loc[test.credit_count_sum != 0,'credit_amount_avg'] = test.loc[test.credit_count_sum != 0,'credit_amount_sum']/test.loc[test.credit_count_sum != 0,'credit_count_sum']
test['debit_amount_avg'] = 0
test.loc[test.debit_count_sum != 0,'debit_amount_avg'] = test.loc[test.debit_count_sum != 0,'debit_amount_sum']/test.loc[test.debit_count_sum != 0,'debit_count_sum']
# average debit amount for each month
test['debit_amount_apr_avg']= 0
test.loc[test.debit_count_apr != 0,'debit_amount_apr_avg'] = test.loc[test.debit_count_apr != 0,'debit_amount_apr']/test.loc[test.debit_count_apr != 0,'debit_count_apr']
test['debit_amount_may_avg'] = 0
test.loc[test.debit_count_may != 0,'debit_amount_may_avg'] = test.loc[test.debit_count_may != 0,'debit_amount_may']/test.loc[test.debit_count_may != 0,'debit_count_may']
test['debit_amount_jun_avg'] = 0
test.loc[test.debit_count_jun != 0,'debit_amount_jun_avg'] = test.loc[test.debit_count_jun != 0,'debit_amount_jun']/test.loc[test.debit_count_jun != 0,'debit_count_jun']
# average credit amount for each month
test['credit_amount_apr_avg'] = 0
test.loc[test.credit_count_apr != 0,'credit_amount_apr_avg'] = test.loc[test.credit_count_apr != 0,'credit_amount_apr']/test.loc[test.credit_count_apr != 0,'credit_count_apr']
test['credit_amount_may_avg'] = 0
test.loc[test.credit_count_may != 0,'credit_amount_may_avg'] = test.loc[test.credit_count_may != 0,'credit_amount_may']/test.loc[test.credit_count_may != 0,'credit_count_may']
test['credit_amount_jun_avg'] = 0
test.loc[test.credit_count_jun != 0,'credit_amount_jun_avg'] = test.loc[test.credit_count_jun != 0,'credit_amount_jun']/test.loc[test.credit_count_jun != 0,'credit_count_jun']
# percentage credit amount per month
test['perc_credit_amount_apr'] = 0
test.loc[test.max_credit_amount_apr!= 0,'perc_credit_amount_apr'] = test.loc[test.max_credit_amount_apr!= 0,'credit_amount_apr']/test.loc[test.max_credit_amount_apr!= 0,'max_credit_amount_apr']
test['perc_credit_amount_may'] = 0
test.loc[test.max_credit_amount_may!= 0,'perc_credit_amount_may'] = test.loc[test.max_credit_amount_may!= 0,'credit_amount_may']/test.loc[test.max_credit_amount_may!= 0,'max_credit_amount_may']
test['perc_credit_amount_jun'] = 0
test.loc[test.max_credit_amount_jun!= 0,'perc_credit_amount_jun'] = test.loc[test.max_credit_amount_jun!= 0,'credit_amount_jun']/test.loc[test.max_credit_amount_jun!= 0,'max_credit_amount_jun']
# proportion of debit and credit consumptions per month
test['cc_cons_apr_prop'] = 0
test.loc[test.cc_cons_sum!= 0,'cc_cons_apr_prop'] = test.loc[test.cc_cons_sum!= 0,'cc_cons_apr']/test.loc[test.cc_cons_sum != 0,'cc_cons_sum']
test['cc_cons_may_prop'] = 0
test.loc[test.cc_cons_sum != 0,'cc_cons_may_prop'] = test.loc[test.cc_cons_sum != 0,'cc_cons_may']/test.loc[test.cc_cons_sum != 0,'cc_cons_sum']
test['cc_cons_jun_prop'] = 0
test.loc[test.cc_cons_sum != 0,'cc_cons_jun_prop'] = test.loc[test.cc_cons_sum != 0,'cc_cons_jun']/test.loc[test.cc_cons_sum != 0,'cc_cons_sum']
test['dc_cons_apr_prop'] = 0
test.loc[test.dc_cons_sum != 0,'dc_cons_apr_prop'] = test.loc[test.dc_cons_sum != 0,'dc_cons_apr']/test.loc[test.dc_cons_sum != 0,'dc_cons_sum']
test['dc_cons_may_prop'] = 0
test.loc[test.dc_cons_sum != 0,'dc_cons_may_prop'] = test.loc[test.dc_cons_sum != 0,'dc_cons_may']/test.loc[test.dc_cons_sum != 0,'dc_cons_sum']
test['dc_cons_jun_prop'] = 0
test.loc[test.dc_cons_sum != 0,'dc_cons_jun_prop'] = test.loc[test.dc_cons_sum != 0,'dc_cons_jun']/test.loc[test.dc_cons_sum != 0,'dc_cons_sum']
# proportion of debit and credit amounts per month
test['credit_amount_apr_prop'] = 0
test.loc[test.credit_amount_sum != 0,'credit_amount_apr_prop'] = test.loc[test.credit_amount_sum != 0,'credit_amount_apr']/test.loc[test.credit_amount_sum != 0,'credit_amount_sum']
test['credit_amount_may_prop'] = 0
test.loc[test.credit_amount_sum != 0,'credit_amount_may_prop'] = test.loc[test.credit_amount_sum != 0,'credit_amount_may']/test.loc[test.credit_amount_sum != 0,'credit_amount_sum']
test['credit_amount_jun_prop'] = 0
test.loc[test.credit_amount_sum != 0,'credit_amount_jun_prop'] = test.loc[test.credit_amount_sum != 0,'credit_amount_jun']/test.loc[test.credit_amount_sum != 0,'credit_amount_sum']
test['debit_amount_apr_prop'] = 0
test.loc[test.debit_amount_sum != 0,'debit_amount_apr_prop'] = test.loc[test.debit_amount_sum != 0,'debit_amount_apr']/test.loc[test.debit_amount_sum != 0,'debit_amount_sum']
test['debit_amount_may_prop'] = 0
test.loc[test.debit_amount_sum != 0,'debit_amount_may_prop'] = test.loc[test.debit_amount_sum != 0,'debit_amount_may']/test.loc[test.debit_amount_sum != 0,'debit_amount_sum']
test['debit_amount_jun_prop'] = 0
test.loc[test.debit_amount_sum != 0,'debit_amount_jun_prop'] = test.loc[test.debit_amount_sum != 0,'debit_amount_jun']/test.loc[test.debit_amount_sum != 0,'debit_amount_sum']
# debit by credit cons and amount ratios
test['d_by_c_cons_ratio_apr'] = 0
test.loc[test.cc_cons_apr != 0,'d_by_c_cons_ratio_apr'] = test.loc[test.cc_cons_apr != 0,'dc_cons_apr']/test.loc[test.cc_cons_apr != 0,'cc_cons_apr']
test['d_by_c_cons_ratio_may'] = 0
test.loc[test.cc_cons_may != 0,'d_by_c_cons_ratio_may'] = test.loc[test.cc_cons_may != 0,'dc_cons_may']/test.loc[test.cc_cons_may != 0,'cc_cons_may']
test['d_by_c_cons_ratio_jun'] = 0
test.loc[test.cc_cons_jun != 0,'d_by_c_cons_ratio_jun'] = test.loc[test.cc_cons_jun != 0,'dc_cons_jun']/test.loc[test.cc_cons_jun != 0,'cc_cons_jun']
test['d_by_c_amount_ratio_apr'] = 0
test.loc[test.credit_amount_apr != 0,'d_by_c_amount_ratio_apr'] = test.loc[test.credit_amount_apr != 0,'debit_amount_apr']/test.loc[test.credit_amount_apr != 0,'credit_amount_apr']
test['d_by_c_amount_ratio_may'] = 0
test.loc[test.credit_amount_may != 0,'d_by_c_amount_ratio_may'] = test.loc[test.credit_amount_may != 0,'debit_amount_may']/test.loc[test.credit_amount_may != 0,'credit_amount_may']
test['d_by_c_amount_ratio_jun'] = 0
test.loc[test.credit_amount_jun != 0,'d_by_c_amount_ratio_jun'] = test.loc[test.credit_amount_jun != 0,'debit_amount_jun']/test.loc[test.credit_amount_jun != 0,'credit_amount_jun']
len(test.columns)

83

## Predictions

In [83]:
# generate dummy values
test_X=pd.get_dummies(test.drop(columns=['id']),drop_first=True)
test_Y=sclf.predict(test_X.values)

In [85]:
sample_submission=pd.concat([test['id'], pd.Series(test_Y)], axis=1)
sample_submission.rename(columns={0:'cc_cons'},inplace=True)
sample_submission['cc_cons']=np.exp(sample_submission['cc_cons'])-1
sample_submission.head()

      id      cc_cons
0  6975   2837.249150
1  43223  9378.527248
2  45502  1863.712986
3  12368  2436.883244
4  40415  6890.663809

In [86]:
sample_submission.to_csv('final_submission.csv',index=None,header=True)